@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&family=DM+Serif+Display&family=Inter:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: poppins;
  font-size: 14px;
  font-style: normal;
  line-height: 158%;
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 137px 10px 137px;
}
.nav ul {
  display: flex;
  align-items: flex-start;
  gap: 36px;
  list-style-type: none;
}
.logo {
  height: 40px;
}
.nav li a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.nav ul li a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  border-bottom: 2px solid #615c5c;
  transform: translate(0 -14px);
  bottom: 2%;
  transition: width 300ms;
}

.content {
  display: flex;
  padding: 120px 135px;
  gap: 80px;
  flex: 1 3;
}
.left {
  width: 45%;
}
.right {
  flex-grow: 1;
}
h1 {
  color: #000;
  font-family: Playfair Display;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 492px;
  margin-bottom: 20px;
}
.left p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  max-width: 494px;
  margin-bottom: 34px;
}
.cta {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-bottom: 46px;
}
.cta-button {
  text-decoration: none;
  padding: 14px 25px;
  border-radius: 19px;
  background: #f2f0df;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  transition: ease 300ms;
}
.cta-button2 {
  color: #000000;
}
svg {
  margin-left: 8px;
  transition: 300ms;
}
.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 19px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 15px 9px 30px 0px rgba(160, 160, 160, 0.25);
}
.news h2 {
  width: 50%;
  color: #000;
  font-size: 33px;
  font-weight: 275;
  padding: 33px 0 70px 40px;
}
p.details {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  padding: 43px 31px 24px 0px;
}
strong {
  color: #000;
  font-weight: 700;
}
.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px;
  position: relative;
}
.cards {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 251px;
  border-radius: 10px;
  transition: background-size 800ms;
}
.card-label {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 61px;
  padding: 7px 17px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #fff;
  transition: all 500ms;
}
.card1 {
  grid-row: 1 / 3;
  background-image: url(images/clothing3.jpg);
  height: 100%;
  background-position: center;
  background-size: 313.583%;
}
.card1:before {
  position: absolute;
  content: "";
  background: url("https://assets.codepen.io/2621168/tag.svg") no-repeat;
  width: 100%;
  height: 100%;
  top: 20px;
  left: -30px;
  pointer-events: none;
}
.card2 {
  background-image: url(images/clothing2.jpg);
  background-position: center;
  background-size: 150%;
}
.card3 {
  background-image: url(images/clothing1.jpg);
  background-position: center;
  background-size: 150%;
}
.card-title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
p.cards {
  color: #505050;
  font-size: 14px;
  font-weight: 400;
}
.price {
  color: #000;
  font-size: 17px;
  font-weight: 400;
}

/* animations */
.nav ul li a:hover::before {
  width: 35%;
}
.cta-button:hover {
  background-color: #e2d1bd;
}
.cta-button2:hover svg {
  transform: translateX(7px);
}
.cta-button2:hover {
  text-decoration: none;
}
.card1:hover {
  background-size: 295%;
}
.card2:hover {
  background-size: 145%;
}
.card3:hover {
  background-size: 145%;
}
.cards:hover .card-label {
  transform: translateY(-10px);
}
